<template name="admin">
  <table class="gridtable">
    <tr>
      <th>Email</th><th>Password</th><th>Name</th><th>Is Admin</th><th>Delete</th>
    </tr>
    <tr>
      <td>Text 1A</td><td class="password-table">Text 1B</td><td>Text 1C</td><td class="checkbox-table">Text 2D</td><td class="checkbox-table">Text 2D</td>
    </tr>
    <tr>
      <td>Text 1A</td><td class="password-table">Text 1B</td><td>Text 1C</td><td class="checkbox-table">Text 2D</td><td class="checkbox-table">Text 2D</td>
    </tr>
    <tr>
      <td>Text 1A</td><td class="password-table">Text 1B</td><td>Text 1C</td><td class="checkbox-table">Text 2D</td><td class="checkbox-table">Text 2D</td>
    </tr>
  </table>
</template>
