<template name="login">
  <div class="login">
    <form id="login-form">
      <div id="login-title">Tox Operator</div>

      <fieldset id="inputs">
        <input id="login-email" type="email" placeholder="{{multiLang 'EMAIL'}}" autofocus>
        <input id="login-password" type="password" placeholder="{{multiLang 'PASSWORD'}}">
      </fieldset>

      <fieldset id="actions">
        <input type="submit" id="login-button" value="{{multiLang 'LOGIN'}}">
        <a href="">{{multiLang 'FORGOT_PASS'}}</a>
      </fieldset>
    </form>
  </div>
</template>
