<template name="login">
  <div class="login">
    <form id="login-form">
      <h1>Tox Operator</h1>

      <fieldset id="inputs">
        <input id="login-email" type="email" placeholder="Email" autofocus required>
        <input id="login-password" type="password" placeholder="Password" required>
      </fieldset>

      <fieldset id="actions">
        <input type="submit" id="login-button" value="Log in">
        <a href="">Forgot your password?</a>
      </fieldset>
    </form>
  </div>
</template>
