//call tabs container
#call-tabs
  position fixed    
  width 100%
  height auto
  top 38px
  bottom 0px
  min-width 990px
  overflow hidden

/*CALL LISTS*/

//call list buttons
.call-list-button
  position absolute
  background #2980B9
  height 34px
  width 15%
  top 0px
  text-align center
  background #436066
.call-list-button-active
  left 15%
  &:hover
    opacity 0.9
    cursor pointer
.call-list-button-pending
  &:hover
    opacity 0.9
    cursor pointer
.open-list
  background #378a86
  &:hover
    opacity 1
.call-list-buttons-text
  font-size 21px
  margin-top 5px
  text-align center
  color white  
#closed-calls-title
  width 30%
  left 100% 
  background #37648a 
  transition left 1.5s
//call tab content
.call-tab
  position absolute    
  height auto
  top 34px
  bottom 0px
  width 30%
  overflow-y auto
  overflow-x hidden
  background #45ADA8
#call-tab-closed
  background #457ead
  left 100%
  transition left 1.5s
.closed-show
  left 70% !important

/* CALL LIST ITEM */

//call list item
.call-list-item
  position relative
  background #5a6465
  width 90%
  height 50px
  border-radius 3px
  color black
  margin-left 5%
  margin-top 3.3%
.call-item-btn
  position absolute
  top 2px
  height 22px
  width 78px
  display block
  background blue
  color white
  border-radius 3px
  text-decoration none
  text-align center
  line-height 23px
  font-size 17px
#call-item-assigned
  height 46px
  width 54px
  top 2px
  right 2px
  font-size 19px
  background #808080         
  line-height 42px
  box-sizing border-box
  border solid 3px
.call-item-assigned-true
  line-height 30px !important
#call-item-assigned-action
  height 14px
  width 48px
  top 26px
  font-size 11px
  right 0px
  background red
  line-height 15px
  opacity 0.5
  &:hover
    opacity 0.8
#call-item-number
  left 8px
  background none
  text-align left
#call-item-date
  text-align left
  width 140px
  top 24px
  left 8px
  background none
#call-item-view-btn
  right 59px
  width 100px
  &:hover
    opacity 0.8
#call-item-action-btn
  top 26px
  right 59px
  width 100px
  background green
  &:hover
    opacity 0.8
.call-item-btn-pending-action
  right 2px !important
.call-item-btn-pending-view
  right 2px !important
.call-item-btn-active-false
  background #989898 !important
  &:hover
    background #989898 !important
    opacity 1 !important
    
/* INDIVIDUAL CALL VIEW */

//call view tab
#call-tab-view
  background #B0B0B0   
  width 70%
  left 30%
  top 34px
  transition width 1.5s
//call view classes
.call-view-shrink
  width 40% !important
  #call-view-description, #call-view-photos
    @media (max-width:1450px)
      width 94%
.call-view-box
  width 94%
  margin-top 20px
  background #5a6465
  border 1px solid #ccc
.call-view-box-title
  color white
  font-size 18px
  height 30px
  background #7f8c8d
  text-align center
//call view title
#call-view-title
  background #3498db
  width 70%
  left 30%
  transition width 1.5s
//call view title text
.call-view-title-text
  margin-left 4px
  padding 6px
  color white
  font-size 1.4em
  left 8%
  float left
//call view urgency dropdown
#call-view-urgency
  float right
  border-radius 0
  height 104%
  box-sizing border-box
  width 32%
  max-width 220px
  padding 5px
  background #2980b9
  border 1px solid #ccc
  color white
  font-size 18px
//call view description
#call-view-description
  height 180px
  float left
  @media (min-width:950px)
    width 45%
  @media (min-width:1120px)
    width 42%
  @media (min-width:1220px)
    width 39%
  @media (min-width:1320px)
    width 36%
  @media (min-width:1420px)
    width 33%
  @media (min-width:1500px)
    width 30%
  margin-left 3%
//call view description text
#call-view-description-text
  margin-left 10px
  margin-right 10px
  margin-top 5px
  color white
  line-height 1.9
  font-size 18px
  height 145
//call view photos
#call-view-photos
  height 180px
  margin-right 3%
  float right
  @media (min-width:950px)
    width 45%
  @media (min-width:1120px)
    width 48%
  @media (min-width:1220px)
    width 51%
  @media (min-width:1320px)
    width 54%
  @media (min-width:1420px)
    width 57%
  @media (min-width:1500px)
    width 60%
//call view photo item
.call-view-photo-item
  width 120px
  height 120px
  margin-top 8.5px
  margin-left 17px
//call view map
#call-view-map
  min-height 240px
  @media (min-width:900px)
    height 260px
  @media (min-width:1000px)
    height 270px
  @media (min-width:1100px)
    height 280px
  @media (min-width:1300px)
    height 300px
  @media (min-width:1301px)
    height 310px
  float right
  margin-right 3%
//call view comments
#call-view-comments
  height 300px
  float right
  margin-right 3%
  margin-bottom 20px
//call view comments list
.call-view-comments-list
  color white
  float left
  width 100%
  border none
  height 230px
  background #5A6465
//call view comments list item
.comments-list-item
  color white
  font-size 18px
  width 100%
  padding-left 10px
  padding-top 7px
  padding-bottom 10px
  box-sizing border-box
  border none
  border-bottom 2px solid #7f8c8d
  min-height 35px
//call view comments input
.call-view-comments-input
  color white
  font-size 18px
  float left
  padding-left 10px
  width 93%
  box-sizing border-box
  border none
  border-top 1px solid #ccc
  border-bottom 1px solid #ccc
  height 35px
  background #7f8c8d
//send button
.send-btn
  color white
  font-size 18px
  float right
  width 7%
  min-width 35px
  border none
  line-height 35px
  box-sizing border-box
  border-top 1px solid #ccc
  border-left 1px solid #ccc
  border-bottom 1px solid #ccc
  height 35px
  background #7f8c8d
  cursor pointer
  text-align center
  &:hover
    background #727f80
//send button disabled
.send-btn-disabled
  color white
  font-size 18px
  float right
  width 7%
  min-width 35px
  border none
  line-height 35px
  box-sizing border-box
  border-top 1px solid #ccc
  border-left 1px solid #ccc
  border-bottom 1px solid #ccc
  height 35px
  background #7f8c8d
  color #a0adae
  text-align center
//call item colors
.urgency-1
  background-color: #2aff5a
.urgency-2
  background-color: #ffd432
.urgency-3
  background-color: #ffa342
.urgency-4
  background-color: #ff2435

/* NO CALL VIEW */

#no-call-view-text
  font-size 23px
  margin 10px
  color white  
#no-call-view-title
  float none
  text-align center

