@import "top-nav"
@import "call-tabs"
@import "settings"

#alert
  background #fff6bf url(/img/exclamation.png) 15px center no-repeat;
  text-align left
  padding 10px 20px 10px 60px
  border-top 2px solid #ffd324
  border-bottom 2px solid #ffd324
  height 17px
  line-height 19px
  position absolute
  width 100%
  top 0
  left 0
  z-index 100
  opacity 1
  transition opacity 1s

.alert-hide
  opacity 0 !important










