#settings-box
  background-color #ffffff
  border 1px solid #6d6d6d
  border-radius 5px
  box-sizing border-box
  position absolute
  width 220px
  height 180px
  right 2px
  top 40px
  z-index 100

.settings-title
  height 30px
  color black
  font-size 21px
  line-height 27px
  background-color #c1b3b7
  border-top-left-radius 5px
  border-top-right-radius 5px
  text-align center

.settings-menuitem
  height 50px
  color black
  font-size 21px
  line-height 47px
  border-bottom 1px solid black
  &:hover
    background-color #d1d1d1

#change-password
  border none
  height 46px
  border-bottom-left-radius 5px
  border-bottom-right-radius 5px