table.gridtable
  font-family verdana,arial,sans-serif
  font-size 11px
  color #333333
  border-width 1px
  border-color #666666
  width 900px
  border-collapse collapse

table.gridtable th
  border-width 1px
  padding 8px
  border-style solid
  text-align center
  border-color #666666
  background-color #dedede

table.gridtable td
  border-width 1px
  padding 0px
  height 30px
  border-style solid
  text-align center
  border-color #666666
  background-color #ffffff

.checkbox-table
  width 50px
.password-table
  width 210px
.name-table
  width 300px

.user-action
  cursor pointer
  font-size 22px
  padding 6px

.password-form
  background-color #a3a5a8 !important

.user-form
  width 97%
  border-color transparent
  height 100%
