@import "settings"
@import "nib/vendor"

body
  no-around()
  width 100%
  height 100%
  overflow-x hidden

@viewport
  zoom 1.0
  width extend-to-zoom

@-ms-viewport
  width extend-to-zoom
  zoom 1.0

app
  position relative
  height 100%
  width 100%

@import "app"

@import "html5-reset"
