<template name="callList">
  <!-- call lists buttons -->
  <div class="call-list-button call-list-button-pending {{pending}}">
    <div class="call-list-buttons-text">{{multiLang 'PENDING'}}</div>
  </div>
  <div class="call-list-button call-list-button-active {{active}}">
    <div class="call-list-buttons-text">{{multiLang 'ACTIVE'}}</div>
  </div>
  <!-- call list tab -->
  <div class="call-tab">
    {{#each calls}}
      {{> callItem}}
    {{/each}}
  </div>
</template>

<template name="closedCalls">
  <!-- tab title -->
  <div id="closed-calls-title" class="call-list-button {{hide}}">
    <div class="call-list-buttons-text">{{multiLang 'CLOSED_CALLS'}}</div>
  </div>
  <!-- tab content -->
  <div id="call-tab-closed" class="call-tab {{hide}}">
    {{#each calls}}
      {{> callItem}}
    {{/each}}
  </div>
</template>

<template name="callItem">
  <div class="call-list-item {{#if notClosed status}} urgency-{{urgency}} {{/if}} {{#if selected _id}} call-item-selected {{/if}}">
    <!-- action button -->
    <a id="call-item-action-btn" class="call-item-btn call-item-btn-{{status}}-action call-item-btn-{{status}}-{{myCall operator}}"  href="">{{action status}}</a>
    <!-- view button -->
    <a id="call-item-view-btn" class="call-item-btn call-item-btn-{{status}}-view" href={{pathFor 'callView'}}>{{multiLang 'VIEW'}}</a>
    <!-- display callers number -->
    <div id="call-item-number" class="call-item-btn">{{number}}</div>
    <!-- display call date -->
    <div id="call-item-date" class="call-item-btn">{{callTimeAgo date}}</div>

    {{#if notTaken status }}
    <!-- assigned operator -->
    <div id="call-item-assigned" class="call-item-btn call-item-assigned-{{myCall operator}}">
      <!-- operator initials/photo -->
      <span title='{{operator}}'>{{getInitials operator}}</span>
      {{#if myCall operator}}
        <!-- leave/open buttons -->
        <a href="" id="call-item-assigned-action" class="call-item-btn">{{assignedAction status}}</a>
      {{/if}}
    </div>
    {{/if}}
  </div>
</template>

<template name="callView">
  {{#with call}}
  <!-- tab title -->
  <div id="call-view-title" class="call-list-button {{shrink}}">
    <div class="call-view-title-text">{{number}}</div>
    <select id="call-view-urgency">
      <option>None</option>
      <option>{{urgency 0}}</option>
      <option>{{urgency 1}}</option>
      <option>{{urgency 2}}</option>
      <option>{{urgency 3}}</option>
    </select> 
  </div>
  <!-- tab content -->
  <div id="call-tab-view" class="call-tab {{shrink}}">
    <!-- call description -->
    <div id="call-view-description" class="call-view-box"> 
      <div class="call-view-box-title"> <div style="padding:5px;">{{multiLang 'CALL_DESCRIPTION'}}</div> </div>
      <div style="overflow-y:auto; height:150px;">
        <div id="call-view-description-text">
          {{getDescription name date age sex weight}}
        </div>
      </div> 
    </div>
    <!-- attached photos -->
    <div id="call-view-photos" class="call-view-box"> 
      <div class="call-view-box-title"> <div style="padding:5px;">{{multiLang 'ATTACHED_PHOTOS'}}</div> </div>
      <div style="overflow-x:scroll; overflow-y: hidden; height:150px; white-space: nowrap;">
        <img src="/img/no-image.png" class="call-view-photo-item">
        <img src="/img/no-image.png" class="call-view-photo-item">
        <img src="/img/no-image.png" class="call-view-photo-item">
        <img src="/img/no-image.png" class="call-view-photo-item">
      </div> 
    </div>
    <!-- caller location -->
    {{#if locShare}}
    <div id="call-view-map" class="call-view-box"></div>
    {{/if}}
    <!-- call comments -->
    <div id="call-view-comments" class="call-view-box">
      <!-- comments title -->
      <div class="call-view-box-title" style=height:35px;font-size:24px;x"> <div style="padding:5px;">{{multiLang 'COMMENTS'}}</div> </div>
      <!-- comments list -->
      <div class="call-view-comments-list">
        {{#each comments}}
          {{> commentsItem}}
        {{/each}}
      </div>
      <!-- comments input -->
      <div class="call-view-box-title">
        <div class="send-btn{{#if isPending status}}-disabled{{/if}}" ><span style="font-size:20px" aria-hidden=true class="icon-bubbles"></span></div>
        <input class="call-view-comments-input" type="text" placeholder="{{multiLang 'ENTER_COMMENT'}}" {{#if isPending status}}disabled{{/if}}>
      </div>
    </div>
  </div>
  {{/with}}
</template>

<template name="commentsItem">
  <div class="comments-list-item">
    {{calendarTime date}}: {{message}}
  </div>
</template>

<template name="noCallView">
  <!-- tab title -->
  <div id="call-view-title" class="call-list-button {{shrink}}">
    <div id="no-call-view-title" class="call-view-title-text">{{multiLang 'NO_CALL_SELECTED'}}</div>
  </div>
  <!-- tab content -->
  <div id="call-tab-view" class="call-tab {{shrink}}">
  </div>
</template>