<template name="settings">
  {{#if settings}}
    <div id="settings-box" class="tags-{{tags}}">
      {{#if menu}}
        {{> settingsMenu}}
      {{/if}}
      {{#if lang}}
        {{> settingsLang}}
      {{/if}}
      {{#if tags}}
        {{> settingsTags}}
      {{/if}}
      {{#if pass}}
        {{> settingsPass}}
      {{/if}}
    </div>
  {{/if}}
</template>

<template name="settingsMenu">
  <div class="settings-title">
    <span style="margin-left: 34px;">{{multiLang 'SETTINGS'}}</span>
    <span aria-hidden="true" class="icon-close settings-close"></span>
  </div>
  <div id="change-language" class="settings-menuitem">
    <span style="margin-left: 34px;">{{multiLang 'CHANGE_LANGUAGE'}}</span>
  </div>
  <div id="edit-tags" class="settings-menuitem">
    <span style="margin-left: 34px;">{{multiLang 'EDIT_TAG'}}</span>
  </div>
  <div id="change-password" class="settings-menuitem last-item-settings">
    <span style="margin-left: 34px;">{{multiLang 'CHANGE_PASSWORD'}}</span>
  </div>
</template>

<template name="settingsLang">
  <div class="settings-title">
    <span aria-hidden="true" class="icon-chevron-left settings-back"></span>
    <span style="margin-right: 10px;">{{multiLang 'LANGUAGE'}}</span>
  </div>
  <div id="en" class="settings-menuitem">
    <span>{{multiLang 'ENGLISH'}}</span>
    <input style="margin-left: 50px;" type="radio" name="language" {{#if en}}checked{{/if}}>
  </div>
  <div id="de" class="settings-menuitem">
    <span style="margin-left: 34px;">{{multiLang 'GERMAN'}}</span>
    <input style="margin-left: 48px;" type="radio" name="language" {{#if de}}checked{{/if}}>
  </div>
  <div id="fr" class="settings-menuitem last-item-settings">
    <span style="margin-left: 34px;">{{multiLang 'FRENCH'}}</span>
    <input style="margin-left: 55px;" type="radio" name="language" {{#if fr}}checked{{/if}}>
  </div>
</template>

<template name="settingsTags">
  <div class="settings-title">
    <span aria-hidden="true" class="icon-chevron-left settings-back"></span>
    <span style="margin-right: 10px;">{{multiLang 'TRIAGE_TAGS'}}</span>
  </div>
  <div class="settings-menuitem">
    <span aria-hidden="true" id="0" style="margin-top:15px;" class="icon-save tags-save"></span>
    <input id="val-0" style="width:140px; margin-left:-20px;" value='{{urgency 0}}' type="text">
  </div>
  <div class="settings-menuitem">
    <span aria-hidden="true" id="1" style="margin-top:14px;" class="icon-save tags-save"></span>
    <input id="val-1" style="width:140px; margin-left:15px;" value='{{urgency 1}}' type="text">
  </div>
  <div class="settings-menuitem">
    <span aria-hidden="true" id="2" style="margin-top:14px;" class="icon-save tags-save"></span>
    <input id="val-2" style="width:140px; margin-left:15px;" value='{{urgency 2}}' type="text">
  </div>
  <div class="settings-menuitem last-item-settings">
    <span aria-hidden="true" id="3" style="margin-top:13px;" class="icon-save tags-save"></span>
    <input id="val-3" style="width:140px; margin-left:15px;" value='{{urgency 3}}' type="text">
  </div>
</template>