//call tabs container
#call-tabs
  position absolute    
  width 100%
  height auto
  top 38px
  bottom 0px
  min-width 700px

//call tabs buttons
.call-tabs-button
  position absolute
  background #2980B9
  height 34px
  width 33.3333333333%
  text-align center
.call-tabs-button-new
  background #378a86
.call-tabs-button-taken
  left 33.3333333333%
  background #436066
.call-tabs-button-closed
  left 66.6666666666% 
  background #37648a 
//call tabs buttons text
.call-tabs-buttons-text
  font-size 21px
  margin-top 5px
  margin-left 8px
  color white  

//call tabs content
.call-tab
  position absolute    
  width 100%
  height auto
  top 34px
  bottom 0px
  width 33.3333333333%
  overflow-y scroll
.call-tab-new
  background #45ADA8
.call-tab-taken
  left 33.3333333333%
  background #547980
.call-tab-closed
  left 66.6666666666% 
  background #457ead

//call tabs items-item
.call-tabs-item
  background #ecf0f1
  width 90%
  margin-left 5%
  margin-top 3%
  border-radius 3px
  color transparent