//call tabs container
#call-tabs
  position absolute    
  width 100%
  height auto
  top 38px
  bottom 0px
  min-width 700px

//call list buttons
.call-list-button
  position absolute
  background #2980B9
  height 34px
  width 15%
  top 0px
  text-align center
.call-list-button-pending
  background #378a86
.call-list-button-active
  left 15%
  background #436066
//call list buttons text
.call-list-buttons-text
  font-size 21px
  margin-top 5px
  margin-left 8px
  color white  
//closed calls title
#closed-calls-title
  width 30%
  left 70% 
  background #37648a 
  transition left 1.7s

//call tab content
.call-tab
  position absolute    
  height auto
  top 34px
  bottom 0px
  width 30%
  overflow-y scroll
  background #45ADA8
#call-tab-closed
  background #457ead
  left 70%
  transition left 1.7s
.closed-hide
  left 100% !important
#call-view
  background #C0C0C0  
  width 40%
  left 30%
  top 0px
  overflow-y auto
  transition width 1.7s
.call-view-extend
  width 70% !important
//call list item
.call-list-item
  background #ecf0f1
  width 90%
  min-height 34px !important
  height 50px
  max-height 7%
  margin-left 5%
  margin-top 3.3%
  border-radius 3px
  color transparent

//call view text
.call-view-text
  width 90%
  margin-left 5%
  margin-top 4%
  color white