//call tabs container
#call-tabs
  position absolute    
  width 100%
  height auto
  top 38px
  bottom 0px
  min-width 700px
  overflow hidden

//call list buttons
.call-list-button
  position absolute
  background #2980B9
  height 34px
  width 15%
  top 0px
  text-align center
  background #436066
.call-list-button-active
  left 15%
  &:hover
    opacity 0.9
.call-list-button-pending
  &:hover
    opacity 0.9
.open-list
  background #378a86
  &:hover
    opacity 1
//call list buttons text
.call-list-buttons-text
  font-size 21px
  margin-top 5px
  margin-left 8px
  color white  
//closed calls title
#closed-calls-title
  width 30%
  left 100% 
  background #37648a 
  transition left 1.5s

//call tab content
.call-tab
  position absolute    
  height auto
  top 34px
  bottom 0px
  width 30%
  overflow-y auto
  background #45ADA8
#call-tab-closed
  background #457ead
  left 100%
  transition left 1.5s
.closed-show
  left 70% !important
#call-tab-view
  background #C0C0C0  
  width 70%
  left 30%
  top 34px
  transition width 1.5s
.call-view-shrink
  width 40% !important
  #call-view-description, #call-view-photos
    @media (max-width:1450px)
      width 94%
//call list item
.call-list-item
  background #ecf0f1
  width 90%
  min-height 40px !important
  height 60px
  max-height 8%
  margin-left 5%
  margin-top 3.3%
  border-radius 3px
  color transparent

//call view title
#call-view-title
  background #3498db
  width 70%
  left 30%
  transition width 1.5s
//call view title text
.call-view-title-text
  margin-left 4px
  padding 6px
  color white
  font-size 1.4em
  left 8%
  float left
//call view urgency dropdown
#call-view-urgency
  float right
  border-radius 0
  height 104%
  box-sizing border-box
  width 32%
  max-width 220px
  padding 5px
  background #2980b9
  border 1px solid #ccc
  color white
  font-size 18px

.call-view-box
  width 94%
  margin-top 20px
  background #5a6465
  border 1px solid #ccc
.call-view-box-title
  color white
  font-size 18px
  height 30px
  background #7f8c8d
  text-align center

//call view description
#call-view-description
  height 180px
  float left
  @media (min-width:904px)
    width 45%
  margin-left 3%
//call view description text
#call-view-description-text
  margin-left 10px
  margin-right 10px
  margin-top 5px
  color white
  line-height 1.9
  font-size 18px
  height 145px

//call view photos
#call-view-photos
  height 180px
  margin-right 3%
  float right
  @media (min-width:904px)
    width 45%
//call view photo item
.call-view-photo-item
  width 120px
  height 120px
  margin-top 8.5px
  margin-left 17px

//call view map
#call-view-map
  min-height 240px
  @media (min-width:900px)
    height 260px
  @media (min-width:1000px)
    height 270px
  @media (min-width:1100px)
    height 280px
  @media (min-width:1300px)
    height 300px
  @media (min-width:1301px)
    height 310px
  float right
  margin-right 3%

//call view comments
#call-view-comments
  height 340px
  float right
  margin-right 3%
  margin-bottom 20px