//navbar
#top-nav
  position absolute
  background #2c3e50
  height 38px
  width 100%
  min-width 700px
  no-around()
//items on navbar
#top-nav div
  float right
  position relative
#top-nav a
  display block
  padding 9px
  padding-bottom 5px
  margin-right 2px 
  text-align center
  background none
  color white
  font-size 18px
  text-decoration none
  &:hover
    background #233140 


