//navbar
#top-nav
  position absolute
  background #2c3e50
  height 38px
  width 100%
  min-width 700px
  no-around()
//items on navbar
#top-nav div
  float right
  position relative
#top-nav a
  display block
  padding 9px 
  margin-right 7px 
  background none
  color white
  font-size 15px
  text-decoration none
  &:hover
    background #233140 


