//navbar
#top-nav
  background black
  height 38px
  list-style none
  width 100%
  no-around()
//items on navbar
#top-nav li
  float right
  position relative
#top-nav a
  display block
  padding 6px 
  margin-right 7px 
  background none
  color white
  font-size 15px
  text-decoration none
  &:hover
    background green 
#topnav-title
  font-size 23px !important
  padding-bottom 5px !important
  margin-left 7px
  


