<template name="callList">
  <!-- call lists buttons -->
  <div class="call-list-button call-list-button-pending {{pending}}">
    <div class="call-list-buttons-text">Pending</div>
  </div>
  <div class="call-list-button call-list-button-active {{active}}">
    <div class="call-list-buttons-text">Active</div>
  </div>
  <!-- call list tab -->
  <div class="call-tab">
    {{#each calls}}
      {{> callItem}}
    {{/each}}
  </div>
</template>

<template name="closedCalls">
  <!-- tab title -->
  <div id="closed-calls-title" class="call-list-button {{hide}}">
    <div class="call-list-buttons-text">Closed Calls</div>
  </div>
  <!-- tab content -->
  <div id="call-tab-closed" class="call-tab {{hide}}">
    {{#each calls}}
      {{> callItem}}
    {{/each}}
  </div>
</template>

<template name="callItem">
  <div class="call-list-item">
    <a class="call-item-btn" href={{pathFor 'callView'}}><span class="call-item-btn-text">View</span></a>
  </div>
</template>

<template name="callView">
  {{#with call}}
  <!-- tab title -->
  <div id="call-view-title" class="call-list-button {{shrink}}">
    <div class="call-view-title-text">{{number}}</div>
    <select id="call-view-urgency">
      <option value="0">None</option>
      <option value="1">Minor</option>
      <option value="2">Delayed</option>
      <option value="3">Immediate</option>
      <option value="4">Morgue</option>
    </select> 
  </div>
  <!-- tab content -->
  <div id="call-tab-view" class="call-tab {{shrink}}">
    <!-- call description -->
    <div id="call-view-description" class="call-view-box"> 
      <div class="call-view-box-title"> <div style="padding:5px;">Call Description</div> </div>
      <div style="overflow-y:auto; height:150px;">
        <div id="call-view-description-text">
          {{name}} called at {{ callTime date }} regarding an incident that took place {{#with ago}} {{hrs}}hrs {{min}}m {{/with}} before the time of the call. The subject is a {{age}} year old {{sex}} who weighs {{weight}}kg.
        </div>
      </div> 
    </div>
    <!-- attached photos -->
    <div id="call-view-photos" class="call-view-box"> 
      <div class="call-view-box-title"> <div style="padding:5px;">Attached Photos</div> </div>
      <div style="overflow-x:scroll; overflow-y: hidden; height:150px; white-space: nowrap;">
        <img src="/img/no-image.png" class="call-view-photo-item">
        <img src="/img/no-image.png" class="call-view-photo-item">
        <img src="/img/no-image.png" class="call-view-photo-item">
        <img src="/img/no-image.png" class="call-view-photo-item">
      </div> 
    </div>
    <!-- caller location -->
    <div id="call-view-map" class="call-view-box"></div>
    <!-- call description -->
    <div id="call-view-comments" class="call-view-box"> 
      <div class="call-view-box-title"> <div style="padding:5px;">Comments</div> </div>
    </div>
  </div>
  {{/with}}
</template>

<template name="noCallView">
  <!-- tab title -->
  <div id="call-view-title" class="call-list-button {{shrink}}">
    <div class="call-view-title-text">Call View</div>
  </div>
  <!-- tab content -->
  <div id="call-tab-view" class="call-tab {{shrink}}">
    <h2 class="call-view-text">
      Click on a call from to view it here in detail.   
    </h2>
  </div>
</template>