<template name="topNav">
  <div id="top-nav">
    <!-- navbar title -->
    <div style="margin-left:10px !important;" class="pull-left"> <a style="font-size:21px !important;">Tox</a> </div>
     
    <!-- closed calls toggle -->
    <div><a id="closed-calls-toggle" style="font-size:21px !important;">  <span aria-hidden="true" class="icon-clock"></span> </a> </div>

    <!-- settings button -->
    <div><a style="font-size:21px !important;"><span aria-hidden="true"class="icon-cog"></span> </a> </div>

    <!-- logout button -->
    <div><a style="font-size:21px !important;">  <span aria-hidden="true" class="icon-signout"></span> </a> </div>
  </div>
</template>